{% extends "main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- 1st Section -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

        <!-- Hero image -->
        <div class="tx-hero__image">
            <img
                    src="assets/images/billy-kidding-logo-transparent.png"
                    alt=""
                    width="200"
                    draggable="false"
                    align="left"
            >
        </div>

            <!-- Hero content -->
            <div class="tx-hero__content" >
                <h1  id="childrens-book-author">Children's Book Author</h1>
                <p>
                  Reading is the best gift for your children.
                </p>
            </div>
        </div>

    </div>
</section>

<!-- 2nd Section -->
<!-- WHO IS BILLY KIDDING? -->
<section class="tx-container-2">
    <div class="md-grid md-typeset">

        <!-- Hero image -->
        <div class="tx-hero__image-2" style="margin-top: 50px">
            <img
                    src="assets/images/billy-portrait.jpg"
                    alt=""
                    width="350"
                    draggable="false"
                    align="left"
            >
        </div>

        <div class="tx-hero">
            <!-- Hero content -->
            <div class="tx-hero__content-2">
                <h1 id="who-is-billy-kidding">Who is Billy Kidding?</h1><br>

                <p>
                  Billy Kidding is a cybersecurity practitioner by day and an aspiring author by night. He believes that there is no better way to build future leaders than to read to children.
                </p><br>

                <a
                        href="/about"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    About Billy
                </a>
                <p></p>
            </div>
        </div>
    </div>
</section>

<!-- 3rd Section -->
<!-- SUBSCRIBE -->
<section class="tx-container-3">
    <div class="md-grid md-typeset">
        <div class="tx-hero">

            <!-- Hero image -->
            <div class="tx-hero__image-3">
                <img
                        src="assets/images/billy-with-kids-color.jpg"
                        alt=""
                        width="1000"
                        draggable="false"
                >
            </div>

            <!-- Hero content -->
            <div class="tx-hero__content-3">
            <div class="tx-hero__content_small">
                <h1 id="subscribe-mailing-list">Subscribe</h1><br>

                <p>
                Do you want to be included in quarterly updates from the author and occasional children's book giveaways? Then sign up below!
                </p>

                <a
                        href="/subscribe"
                        title="{{ page.next_page.title | e }}"
                        class="md-button md-button"
                >
                    Subscribe
                </a>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
